<h1>New Viewing Party</h1>
<h3> <%= @movie.movie_details[:title] %></h3>
<%= form_with url: "users/#{@user.id}/movies/#{@movie.movie_details[:id]}/viewing-party/new", local: true do |f| %>
<%= f.number_field :duration, in: "#{@movie.movie_details[:runtime]}".to_i .. 1000, value: "#{@movie.movie_details[:runtime]}" %>
<%= f.date_field :when %>
<%= f.time_field :start %>
<%= f.collection_check_boxes :attendees, User.all, :id, :name %>
<%= f.submit 'Create Party' %>
<%= f.hidden_field :host_id, value: @user.id %>
<% end  %>